[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
pandas = "*"
cytoolz = "*"
plotnine = "*"
pyyaml = ">=4.2b1"

[dev-packages]
jupyter = "*"
jupyter-contrib-nbextensions = "*"

[requires]
python_version = "3.7"
